body {
    width: 70%;
    margin: auto auto;
}

.navbar {
    background-color: aliceblue;
    padding: 10px;
    padding-bottom: 20px;
}

.main-content {
    margin: 10px;
}

.bottom-info {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 70%;
}