body {
    width: 70%;
    margin: auto auto;
}

.navbar {
    background-color: aliceblue;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 5px solid aliceblue;
    border-top: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.main-content {
    margin: 10px;
}

.bottom-info {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 70%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #2980b9;
    color: white;
}

thead th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f6f6f6;
}

td {
    padding: 10px;
    text-align: left;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.button-class {
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #2980b9 100%);
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
}

.button-class:focus {
    background: linear-gradient(180deg, #4B91F7 0%, #103853 100%);
}

select {
    width: 100%;
    min-width: 15ch;
    border: 1px solid gray;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin-bottom: 5px;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.game-score {
    margin: 20px;
    font-size: 2em;
    text-align: center;
    display: block;
}

form#gameScoreForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}